body{
  background: #303030;
  color: blanchedalmond;
  font-family: fantasy;
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}
#Title{
  position: absolute;
  font-family: 'Lucida Sans';
  font-style: italic;
  float: right;
  margin-top: 0;
  color: #f00;
  margin-left: 60%;
  font-size: 300%;
}

input{
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: 1px solid #000;
  border-radius: 1px;
}


#Main{
  height: 90%;
  width: 90%;
  background-color: #fff;
  background-image: url(https://i.ibb.co/hd62S2M/Teegree.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius:  30px;
  padding-bottom: 500px;
  padding-right: 50px;
}

#SendMessage {
  color: #fff;
  background-color: #71c5ec;
  border: 1px solid #71c5ec;
}
#AccessPort{
  position: absolute;
  height: 140px;
  width: 250px;
  border-radius: 30px;
  background-color: #f00;
  padding: 20px;
  float: left;
  left: 0;
  margin: 0;
}
#Chat{
  
  margin: 0;
  float: right;
  top: 50;
  height:300px;
}
#Chat:start{
  color: blanchedalmond;
}
#Chat p {
  width: 200px;
  border-radius: 15px;
  margin-left: 20px;
}
#mess {
  float: right;
  position: fixe;
  margin: 0;
  height: 20px;
  transform: translate(250px, 500px);
}
#ConnectButton {
  margin-top: 20px;
  color: #fff;
  background-color: #71c5ec;
  border: 1px solid #71c5ec;
}