body{
  background: #303030;
  color: #000;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: 1px solid #000;
  border-radius: 15px
}

.Message{
  color: #a0a0a0;
}

#Main{
  background: #fff;
  background-image: url(https://i.ibb.co/12Qzm7j/teegree.png);
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 300%;
}
#SendMessage {
  background-color: #71c5ec;
  color: #fff;
  border: none;
  border-radius: 40%;
  height: 40px;
}